/* ---- Users list ---- */

.usersList {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1em;
  padding: 1em;
}

.usersList a {
  text-decoration: none;
  color: black;
  background-color: #e0e0e0;
  padding: 1em;
  border-radius: 0.2em;
  font-weight: bold;
}

.usersList a:hover {
  background-color: #d0d0d0;
}

/* ---- User card ---- */
.userCard {
  display: flex;
  flex-direction: column;
  padding: 1em;
  background-color: #e0e0e0;
  border-radius: 0.2em;
  width: 300px;
  margin: 1em auto;
}

.userCard h1 {
  margin: 0 auto;
}
