:root {
  font-family: "Roboto", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100dvh;
}

body {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

main {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
}

.container {
  padding: 1em;
  background-color: #ececec;
  border-radius: 0.2em;
  margin: 1em auto;
}
